@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

// custom colors
$white-color:      #ffffff !default;

// custom break-points
$on-mobile:        959px !default;

// custom typography
$post-font-family: 'Open Sans', sans-serif !default;

body {
  flex-direction: row;
}

a:hover {
  text-decoration: none;
}

@include media-query($on-mobile) {
  body {
    flex-direction: column;
  }
}

.post {
  font-family: $post-font-family;
}
