@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;800&display=swap');

// custom colors
$white-color:      #ffffff !default;
$black-color:      #000000 !default;
$highlight-color:  #000000 !default;

// custom break-points
$on-mobile:        959px !default;

// custom typography
$bold-font-weight: 700;
$semi-bold-font-weight: 600;
$post-font-family: 'Raleway', sans-serif !default;

body {
  flex-direction: row;
}

a:hover {
  text-decoration: none;
}

@include media-query($on-mobile) {
  body {
    flex-direction: column;
  }
}

.page-container {
  box-sizing: content-box;
  max-width: 1070px;
  width: 100%;
}

.post-list-heading {
  font-weight: 500;
}

.post-title {
  font-weight: $semi-bold-font-weight;

  &:after {
    content: '';
    background-color: $highlight-color;
    display: block;
    height: 1px;
    margin-top: 16px;
    width: 60px;
  }
}

.post-content {
  font-family: $post-font-family;
  margin-top: 64px;
}

.post-content > p:first-child::first-letter {
  @include relative-font-size(4);
  color: $black-color;
  float: left;
  line-height: 0.5;
  margin-right: 8px;
  position: relative;
  text-transform: uppercase;
  vertical-align: bottom;
}

.about-social-media {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.about-social-media .svg-icon {
  fill: $highlight-color;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.about-social-media a:not(:last-child) {
  margin-right: 8px;
}
