.site-actions {
  align-items: center;
  background: url('/assets/coffee-computer_04.jpg'), rgba(0,0,0, 0.8);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  padding: 0 30px 96px;
  position: fixed;
  width: 300px;
}

.site-title,
.site-title:visited,
.site-title:hover {
  color: $white-color;
}

.site-nav {
  float: none;
  width: 100%;
}

.site-nav .trigger {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.site-nav .page-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: $white-color;
  letter-spacing: 3px;
  padding: 5px 0;
  text-align: center;
  width: 50%;
}

.site-nav .page-link:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.social-media-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  width: 100%;
}

.social-media-list .social-media-link {
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  fill: rgba(255, 255, 255, 0.4);
}

.social-media-list .social-media-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.social-media-list .social-media-link:hover .username {
  text-decoration: none;
}

.social-media-list .svg-icon {
  fill: currentColor;
  padding: 0 10px;
}

@include media-query($on-tablet) {
  .site-actions {
    background: $black-color;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60px;
    padding: 0;
    width: 100%;
  }

  .site-title {
    margin: 0 auto;
  }

  .site-nav {
    background: transparent;
    border: 0;
    left: 8px;
    right: auto;
    width: 25%;
  }

  .site-nav label[for="nav-trigger"] {
    float: none;
  }

  .site-nav .menu-icon > svg {
    fill: $white-color;
  }

  .site-nav input ~ .trigger {
    background: $white-color;
    border: 1px solid rgba(0,0,0, 0.3);
    border-radius: 4px;
    padding-top: 8px
  }

  .site-nav .page-link {
    color: $text-color;
    margin: 0;
    padding: 0 24px 8px;
  }

  .social-media-list {
    display: none;
  }
}
